sxa.se {
    root * /srv/www
    file_server
}

game0.sxa.se {
    root * /srv/www/game0
    file_server
}

starsandcomets.sxa.se {
    root * /srv/www/starsandcomets
    file_server
    try_files {path} /index.html
}

data.sxa.se {
    reverse_proxy data:8000
}
